<f-flow fDraggable (fLoaded)="loaded()">
  <f-canvas>
    <f-connection fOutputId="1" fInputId="2" fBehavior="fixed" fType="segment" />

    <div
      fNode
      fDragHandle
      [fNodePosition]="{ x: 0, y: 150 }"
      fNodeOutput
      fOutputId="1"
      [fOutputConnectableSide]="outputSide()"
      [fOutputDirectionLock]="directionLock()"
    >
      <b>{{ outputSide() }}</b> connectable side @if (directionLock() !== 'none') {
      <div><small>Lock: {{ directionLock() }}</small></div>
      }
    </div>

    <div
      fNode
      fDragHandle
      [fNodePosition]="{ x: 300, y: 150 }"
      fNodeInput
      fInputId="2"
      [fInputConnectableSide]="inputSide()"
      [fInputDirectionLock]="directionLock()"
    >
      <b>{{ inputSide() }}</b> connectable side @if (directionLock() !== 'none') {
      <div><small>Lock: {{ directionLock() }}</small></div>
      }
    </div>
  </f-canvas>
</f-flow>
<div class="examples-toolbar">
  <f-checkbox [checked]="calculateSides()" (change)="calculateSides.set($event)"
    >Calculate Side
  </f-checkbox>
  <button class="f-button" (click)="switchSides()" [disabled]="calculateSides()">
    Switch Sides
  </button>
  <button class="f-button" (click)="switchDirectionLock()" [disabled]="!calculateSides()">
    Direction Lock: {{ directionLock() }}
  </button>
</div>
